.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 425px) {
    .container {
        max-width: 400px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 928px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1184px;
    }
}
