.cover__background {
    padding-top: 10%;
    padding-bottom: 10%;
    background-image: image-set(
            url("../../../../images/cover-trains.webp") 1x,
            url("../../../../images/cover-trains@2x.webp") 2x,
            url("../../../../images/cover-trains@3x.webp") 3x,
            url("../../../../images/cover-trains.jpg") 1x,
            url("../../../../images/cover-trains@2x.jpg") 2x,
            url("../../../../images/cover-trains@3x.jpg") 3x
    );
    background-image: -webkit-image-set(
            url("../../../../images/cover-trains.webp") 1x,
            url("../../../../images/cover-trains@2x.webp") 2x,
            url("../../../../images/cover-trains@3x.webp") 3x,
            url("../../../../images/cover-trains.jpg") 1x,
            url("../../../../images/cover-trains@2x.jpg") 2x,
            url("../../../../images/cover-trains@3x.jpg") 3x
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (min-width: 768px) {
    .cover__background {
        padding-top: 15%;
        padding-bottom: 15%;
    }
}

@media (min-width: 1024px) {
    .cover__background {
        padding-top: 20%;
        padding-bottom: 20%;
    }
}
