.header__lang-menu {
    margin: 0;
    padding-top: 12px;
    display: flex;
    align-items: center;
    column-gap: 18px;
    min-width: 50px;
    list-style: none;
}

@media (min-width: 768px) {
    .header__lang-menu {
        padding-top: 0;
    }
}


