.places__list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 50px;
    list-style: none;
}

@media (min-width: 768px) {
    .places__list {
        row-gap: 73px;
    }
}
