@import "__lead/content__lead.css";
@import "__intro/content__intro.css";
@import "__places/content__places.css";

.content {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
}
