.photo-grid__list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(auto, 218px);
    row-gap: 12px;
    list-style: none;
}

@media (min-width: 768px) {
    .photo-grid__list {
        grid-template-columns: repeat(2, auto);
        grid-auto-rows: minmax(auto, 264px);
        gap: 16px;
    }
}

@media (min-width: 1024px) {
    .photo-grid__list {
        grid-template-columns: repeat(3, auto);
        grid-auto-rows: minmax(auto, 225px);
        gap: 14px;
    }
}

@media (min-width: 1280px) {
    .photo-grid__list {
        grid-template-columns: repeat(4, auto);
        grid-auto-rows: minmax(auto, 215px);
        gap: 16px;
    }
}
