.lead__subtitle {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    text-align: center;
}

@media (min-width: 768px) {
    .lead__subtitle {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 56px;
        max-width: 640px;
        font-size: 30px;
        line-height: 36px;
    }
}

@media (min-width: 1280px) {
    .lead__subtitle {
        margin-bottom: 64px;
    }
}
