.cover__overlay {
    position: relative;
}

.cover__overlay:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark);
    opacity: 0.3;
    transition: opacity .25s ease;
}

.cover__overlay:hover:before {
    opacity: 0.8;
}
